# Python cache / build soubory
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
.DS_Store
Thumbs.db

.env
.env.*

*.db
*.sqlite
*.sqlite3

dist/
build/
*.egg-info/
